* {
text-align: center;
}

:target:before {
content:"";
display:block;
height:75px; /* fixed header height*/
margin:-75px 0 0; /* negative fixed header height */
}

.lead {
    color: darkgreen;
}
h2 {
    text-align: center;
}

img {
    rounded;
}

